<div class="row" style="text-align:center;">
    <div class="col-md-4">
        <div>
            <a href="../Cliente/Index">Cliente</a>
        </div>
        <span>Cadastro de Clientes</span>
    </div>
</div>